.App {
  text-align: center;
}

table {
  width: 100%;
  padding: 10px;
  border-bottom: 3px solid rgb(20, 122, 79);
  margin-bottom: 20px;
}

thead {
  background-color: rgb(20, 122, 79);
  color: white;
}

button {
  background-color: rgb(20, 122, 79);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.pageno {
  background-color: rgb(20, 122, 79);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

td {
  padding: 5px;
}